.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.jumbotron{
    color: #4b2e83;
    background-color: #b7a57a;
}
/*
Backgroun colors
#4b2e83 purple
#b7a57a light gold
#85754d metallic gold
 */
.bg-color-purp{
    background-color: #b7a57a !important;
    background-repeat: repeat;
    background-size: auto;
}
#navigation,.navbar .bg-color-purp .navbar-expand-lg .navbar-light{
    background-image: url("images/RainAngle.svg") !important;
    background-size: auto;
    background-repeat: repeat;
  }


.paragraph{
    border: 1px solid gray;
    border-radius: 9px;
    padding: 10px;
    margin-left: 2em;
    margin-right: 2em;
}
iframe{
    height: 13rem;
}
.purp-text .nav-link{
    text-decoration-color: #4b2e83;
}
.uwild{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  .carousel-item > img {
      max-height: 450px;
      width: auto !important;
} 
#vert{
    display: flex;
    justify-content: center;
    padding-right: 19em;
}
#side{
    display: flex;
    justify-content: center;
    padding-right: 40em;

}
.head1{
    color: #4b2e83;
    text-align: center;
}
.head2{
    color: #b7a57a;
    text-align: center;
}
#car-1 {
    background-color: #4b2e83 !important;
}
/* #car-2 {
    
} */
